:root {
  --main-background: #ffffff;
  --modal-background: rgba(0, 0, 0, 0.25);
  --modal-shadow: 0px 0px 5px 0px #474747;
  --content-background: #f2f2f2;
  --spacing: 30px;
  --border-radius: 5px;
  --highlight-color: #f9c88b;
  --button-background: #d3d3d3;
  --transition-timing: 0.2s;
  --content-max-width: 800px;
  --content-min-width: 300px;
}

body {
  margin: 0;
}

body, body * {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: var(--content-min-width);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, button, input, textarea {
  font-family: monospace;
}

input, textarea, button {
  padding: calc(var(--spacing) / 2);
  width: 100%;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--content-background);

  &:focus {
    outline: 1px solid var(--highlight-color);
  }
}

button {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: fit-content;
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
  align-self: flex-end;
  background-color: var(--button-background);
  transition:
    background-color var(--transition-timing),
    transform var(--transition-timing);

  &:hover {
    background-color: var(--highlight-color);
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
  }

  & > svg {
    width: 16px;
  }

  & > span {
    margin-left: 5px;
    pointer-events: none;
  }
}